<!doctype html>
<html lang="en" ng-app="calculator">
  <head>
      <meta charset="utf-8">
      <title>Calculator</title>
      <link rel="stylesheet" type="text/css" href="assets/calculator.css">
      <script type="text/javascript" src="lib/angular/angular-1.6.6/angular.min.js"></script>
      <script type="text/javascript" src="assets/calculator.js"></script>
  </head>
  <body>
    <h2>The Calculator</h2>
    <div id="calculator" ng-controller="CalculatorController">
      <main>
        <section class="cal_screen">
          <p>{{operatortxt}}</p>
          <p>{{calculatortxt}}</p>
        </section>
        <hr>
        <section class="buttons">
          <table>
            <tr><td><input type="button" value="C" ng-click="resetCalculator()"></td></tr>
            <tr>
              <td><input type="button" value="1" ng-click="addNumber('1')"></td>
              <td><input type="button" value="2" ng-click="addNumber('2')"></td>
              <td><input type="button" value="3" ng-click="addNumber('3')"></td>
              <td><input type="button" value="+" ng-click="addOperator('+')"></td>
              <td><input type="button" value="^" ng-click="addOperator('To the Power of')"></td>
            </tr>
            <tr>
              <td><input type="button" value="4" ng-click="addNumber('4')"></td>
              <td><input type="button" value="5" ng-click="addNumber('5')"></td>
              <td><input type="button" value="6" ng-click="addNumber('6')"></td>
              <td><input type="button" value="-" ng-click="addOperator('-')"></td>
              <td><input type="button" value="sqrt" ng-click="addOperator('Square Root')"></td>
            </tr>
            <tr>
              <td><input type="button" value="7" ng-click="addNumber('7')"></td>
              <td><input type="button" value="8" ng-click="addNumber('8')"></td>
              <td><input type="button" value="9" ng-click="addNumber('9')"></td>
              <td><input type="button" value="*" ng-click="addOperator('*')"></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="button" value="0" ng-click="addNumber('0')"></td>
              <td><input type="button" value="." ng-click="addDecimal()"></td>
              <td><input type="button" value="/" ng-click="addOperator('/')"></td>
              <td><input type="button" value="=" ng-click="calculate()"></td>
            </tr>
          </table>
        </section>
      </main>
    </div>
  </body>
</html>
